<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Api Dashboard</title>
    <style>
      body {
        margin-top: 2px;
        padding: 1px;
      }
      .bg_image {
        opacity: 3;
        text-align: center;
        position: relative;
      }
      .centered {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      button{
        background-color:green;
        color: white;
        height: 35px;
        text-align: center;
      }
     
    </style>
  </head>
  <body>
    <div class="bg_image">
      <img
        src="https://w0.peakpx.com/wallpaper/510/490/HD-wallpaper-artificial-intelligence-and-the-future-of-cybersecurity.jpg"
        alt="image loading" style="height: 100%; width: 100%"/>
      <div class="centered"><h1>Welcome to my Api portal</h1>
      <button ><a style="text-decoration: none; color: white;" href="http://127.0.0.1:5000/apidocs/"> Go to ApiDashboard </a></button>
    </div>
    </div>
   
  </body>
</html>
